<h1><%= @ad.title %></h1>

<h3><%= @ad.company %></h3>

<div id="description">
  <%= sanitize(@ad.description) %>
</div>

<div id="contact">Contact: <%= @ad.user.name %></div>

<% if belongs_to_current_user?(@ad) %>
  <%= link_to 'Edit', edit_ad_path(@ad) %> |
<% end %>
<%= link_to 'List', ads_path %>
