<h1><%= @ad.title %></h1>

<h3><%= @ad.company %></h3>

<div id="description">
  <%= sanitize(@ad.description) %>
</div>

<div id="contact">Contact: <%= @ad.user.name %></div>

<% if owned_by_current_user?(@ad) %>
  <%= link_to 'Edit', edit_ad_path(@ad) %> |
<% end %>
<%= link_to 'List', ads_path %>

<% unless owned_by_current_user?(@ad) %>
  <%= render partial: "reply_form", locals: {ad: @ad} %>
<% end %>

<% if owned_by_current_user?(@ad) and !@ad.replies.empty? %>
  <h2>Replies</h2>
  <% replies = @ad.replies.order('created_at DESC').paginate(per_page: 10, page: (params[:page] ? params[:page] : 1)) %>
  <%= render partial: "reply", collection: replies, locals: {ad: @ad} %>
  <%= will_paginate replies %>
<% end %>
